<html>
	<head>
		<meta charset="utf-8">
		<title>接口检测平台</title>
		<!--BootStrap-->
		<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% block content %}{% endblock %}
		<!--页脚html-->
		<div id="footer" class="container">
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<div class="navbar-inner navbar-content-center">
					<p class="text-muted credit" style="padding: 10px;text-align: center;">Copyright © <strong>OuterCloudBack</strong> All Rights Reserved.</p>
				</div>
			</nav>
		</div>
	</body>
</html>